{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}sitapp{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Ignition, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form) }}


<ul class="product post-list" data-more="/more">
{% for item in item_list%}

<li class="left clearfix post-li " id="post-233764" data-post-id="233764" data-action-uri="/channel/ruliweb/233764">
    <div class="post-group ">

<div class="product-img pull-left">   
    <div class="product-img-box ">

        
        <img src="{{file_lst[item['file']]}}">      

    </div>
</div>
<div class="product-body clearfix">
    <div class="header">
        {% for item in item['hash_data'] %}
            <a href="/search/{{item}}"> #{{item}} </a>        
        {% endfor %}
            <i class="fa fa-clock-o fa-fw"></i> 마감:{{item['participation_num']}}/{{item['req']}}
            
        <p>
            <!--header-->
            <!--title-->
            
            <span class="primary-font item-name">
                <a href="/l/d/232477" class="product-link" data-label="루리웹-사이터스2 / 무료" data-product="232477" data-post="233764" data-page="0" target="_blank">
            
                    
                    아이템 이름:{{item['iname']}}
                </a>
            </span>
            <!--/title-->
        </p>

    </div>
        <p class="deal-price-info">
            <small class="product-price">
                {{item['price']}}
            </small>
        
    </p>
    <p>
        <small class="deal-price-meta-info">
        
        
        </small>
    </p>
    <p class="deal-meta-info">
        <small class="text-muted">
        
        
        
        </small>
    </p>   
</div>


    
<div class="opinion-box deal">
   <a href="/participation/<userid>/{{item['iid']}}"><img src="/static/ignition.png" width="82" height="86" title="ignition" alt="ignition"> </a> 
</div>

</li>  
        {% endfor%}    

</ul>
</div>
{% endblock %}
