{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}sitapp{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Ignition, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form) }}


<ul class="product post-list" data-more="/more" style="height: :800px;">
{% for item in item_list%}
<p>

</p>
    <div class="post-group ">

<div class="product-img pull-left">   
    <div class="product-img-box ">

        
        <img src="{{file_lst[item['file']]}}">      

    </div>
</div>
<div class="product-body clearfix">
    <div class="header">
        {% for item in item['hash_data'] %}
            <a href="/search/{{item}}"> #{{item}} </a>        
        {% endfor %}
            <i class="fa fa-clock-o fa-fw"></i> 마감:{{item['participation_num']}}/{{item['req']}}
            
        <p>
            <!--header-->
            <!--title-->
            
            <span class="primary-font item-name">
                <a>
                    아이템 이름:{{item['iname']}}
                </a>
            </span>
            <!--/title-->
        </p>

    </div>
        <p class="deal-price-info">
                가격:{{item['price']}}
    </p>
    <p>
        
            마감:{{item['participation_num']}}/{{item['req']}}
    </p>
           <p class="deal-price-info">
            <small class="product-price">
                마감시간:{{item['date']}}
            </small>
        
    </p>

 
    {% if item['date']<=current_time %}
            {% if item['participation_num']==item['req'] %}
     <img src="/static/burnout.jpg" width="82" height="86" title="burnout" alt="burnout">
             {% else %}
     <img src="/static/fail.png" width="82" height="86" title="fail" alt="fail">     
         {% endif %}        
    {% else %}
    {% if item['participation']=="no" %}
        {% if item['participation_num']==item['req'] %}
            <img src="/static/burnout.jpg" width="82" height="86" title="burnout" alt="burnout">
        {% else %}
            <a href="/participation/<userid>/{{item['_id']}}"><img src="/static/ignition.png" width="82" height="86" title="ignition" alt="ignition"> </a> 
        {% endif %}
    {% else %}
       <a href="/participation_out/<userid>/{{item['_id']}}"><img src="/static/ignition_delete.png" width="82" height="86" title="extinguish" alt="extinguish"> </a> 
    {% endif %}
        {% endif %}
</div>

</li>  
        {% endfor%}    

</ul>
</div>
{% endblock %}
